/*

/.*

!.gitignore

!.emacs.d
.emacs.d/auto-save-list
.emacs.d/auto-install
.emacs.d/site-lisp
!.emacs.d/site-lisp/init-loader.el
.emacs.d/etc/
.emacs.d/info/

.DS_Store
*.swp
*~.nib
Thumbs.db
*.elc
