[submodule "dot.zsh/zsh-syntax-highlighting"]
	path = dot.zsh/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "dot.zsh/zsh-autosuggestions"]
	path = dot.zsh/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "dot.config/emacs/snippets/yasnippet-golang"]
	path = dot.config/emacs/snippets/yasnippet-golang
	url = git@github.com:atotto/yasnippet-golang.git
[submodule "dot.zsh/powerlevel10k"]
	path = dot.zsh/powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
