[submodule "dot.zsh/zsh-syntax-highlighting"]
	path = dot.zsh/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "dot.zsh/zsh-autosuggestions"]
	path = dot.zsh/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "dot.config/emacs/snippets/yasnippet-go"]
	path = dot.config/emacs/snippets/yasnippet-go
	url = git@github.com:dominikh/yasnippet-go.git
